.banner {
    text-align: center;
    background: var(--color-secundario); 
    color: var(--color-blanco);
    padding: 1rem 0; 
}


.banner h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.banner p {
    font-size: 1.2rem;
}
.banner-image {
    text-align: center;
    color: var(--color-blanco);
    padding: 2rem 1rem;
    background-image: url("../assets/ascenso.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh; 
    max-height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajuste para móviles */
@media (max-width: 768px) {
    .banner-image {
        background-image: url("../assets/ascenso_movil.jpg");
        height: 25vh; 
        max-height: 200px;
        background-size: cover;
        background-position: center;
    }

    .banner-image h2 {
        font-size: 1rem; 
        padding: 0.5rem;
    }
}

